# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cdc-dedup-engine
cdc-dedup

# Test & Benchmark output
*.test
*.out
output/
test_files/
test_data/
engine/test_data/

# Storage & Database
data/
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Environment Config
.env
*.env
!.env.example

